{% extends "base.html" %}

{% block content %}
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="MyPlantsOnline">
    <meta name="description" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="static/css/nicepage.css" media="screen">
<link rel="stylesheet" href="static/css/Главная.css" media="screen">




    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="ru">
    <section class="u-clearfix u-image u-section-1" id="sec-a921">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-text u-title u-text-1">MyPlantsOnline<br>
            </h1>
            <p class="u-large-text u-text u-text-variant u-text-2">Приложение для создания графиков полива растений<br>(Полезно для забывчивых!)
            </p>
            <a href="http://127.0.0.1:8080/Регистрация.html" class="u-btn u-button-style u-btn-1">Начать работу!<br>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}